/*   --- root css --- */
:root {
  --font-size: 100%;
  --H1: 2rem;
  --H2: 0.75rem;
  --price-new: 2rem;
  --price-old: 0.8125rem;
  --par: 0.875rem;
  --btn: 0.875rem;
}

/*   --- normalize css --- */
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/*  --- reset css --- */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
body,
section,
article {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* --- typography --- */
@font-face {
  font-family: "Fraunces";
  src: url(../assets/webfonts/Font-face/Fraunces_144pt_SuperSoft-Bold.woff2) format("woff2"), url(../assets/webfonts/Font-face/Fraunces_144pt_SuperSoft-Bold.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url(../assets/webfonts/Font-face/Montserrat-Medium.woff2) format("woff2"), url(../assets/webfonts/Font-face/Montserrat-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url(../assets/webfonts/Font-face/Montserrat-Bold.woff2) format("woff2"), url(../assets/webfonts/Font-face/Montserrat-Bold.ttf) format("truetype");
  font-weight: 700;
}
/*   --- general settings --- */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: var(--font-size);
  scroll-behavior: smooth;
}
html ::-moz-selection {
  background-color: #f2eae2;
  color: white;
}
html ::selection {
  background-color: #f2eae2;
  color: white;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: middle;
  background-color: #808080;
}

/*  --- header --- */
/* --- home main --- */
.home {
  font-optical-sizing: auto;
  background-color: #f2eae2;
  height: 100svh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 21.4375em;
  min-width: 9.375em;
  background-color: #ffffff;
  border-radius: 0.625em;
  overflow: hidden;
}

.card__content {
  padding: 0 1.5em 1.5em 1.5em;
  font-family: Montserrat, serif;
}
.card__content h2 {
  font-size: var(--H2);
  letter-spacing: 0.4166666667em;
  line-height: 1.25em;
  color: #6c7289;
  font-weight: 500;
  padding-block: 2em 1em;
}
.card__content h1 {
  font-family: Fraunces, serif;
  font-size: var(--H1);
  line-height: 1em;
  color: #1c232b;
  font-weight: 700;
}
.card__content p:not(.price p, .btn p) {
  font-size: var(--par);
  line-height: 1.6428571429em;
  color: #6c7289;
  font-weight: 500;
  margin-block: 1.1428571429em 1.7142857143em;
}
.card__content .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.25em;
}
.card__content .price .price--new {
  font-family: Fraunces, serif;
  font-size: var(--price-new);
  line-height: 1em;
  color: #3d8168;
  font-weight: 700;
  margin-right: 0.59375em;
}
.card__content .price .price--old {
  font-size: var(--price-old);
  color: #6c7289;
  line-height: 1.7692307692em;
  font-weight: 500;
  text-decoration: line-through;
}
.card__content .btn {
  background-color: #3d8168;
  border-radius: 0.625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-block: 0.9375em;
  cursor: pointer;
  -webkit-transition: ease-in-out 0.2s background-color;
  transition: ease-in-out 0.2s background-color;
}
.card__content .btn:hover, .card__content .btn:focus {
  background-color: #1a4032;
}
.card__content .btn:hover img, .card__content .btn:focus img {
  background-color: #1a4032;
}
.card__content .btn img {
  -webkit-transition: ease-in-out 0.2s background-color;
  transition: ease-in-out 0.2s background-color;
  max-width: 0.9375em;
  min-height: 1em;
  background-color: #3d8168;
}
.card__content .btn p {
  font-size: var(--btn);
  color: #ffffff;
  line-height: 1.2142857143em;
  font-weight: 700;
  margin-left: 0.7857142857em;
}

/* mediaqueries */
@media only screen and (max-width: 225px) {
  .card {
    text-align: center;
  }
  .card .card__content {
    padding: 0 0.75em 1.5em 0.75em;
  }
  .card .card__content .price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card .card__content .btn img {
    display: none;
  }
  .card .card__content .btn p {
    margin-left: 0;
  }
}
@media only screen and (min-width: 651px) {
  .container {
    max-width: 37.5em;
  }
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card > * {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .card__content {
    padding: 0 2em 2em 2em;
  }
  .card__content h2 {
    padding-block: 2.6666666667em 1.6666666667em;
  }
  .card__content p:not(.price p, .btn p) {
    margin-block: 1.7142857143em 2.1428571429em;
  }
  .card__content .price {
    margin-bottom: 1.875em;
  }
}
/*# sourceMappingURL=home.css.map */
