@use '../tools/' as *;

// --------------------
/*   --- root css --- */
// --------------------

:root {
    --font-size:#{$font-size-100};
    --H1:#{$H1--Max};
    --H2:#{$H2--Max};
    --H3:#{$H3--Max};
    --par:#{$par--Max};
    --btn:#{$btn--Max};
}