@use '../partials/tools' as *;
@use '../partials/assembler/' as *;

// --------------------
/* --- home main --- */
// --------------------

.home {
    font-optical-sizing: auto;
    background-color: $clr-bg-body;
    height: 100svh;
    @include flexCenter;
}

.container {
    max-width: em(343, 16);
    min-width: em(150, 16);
    background-color: $clr-bg-container;
    border-radius: em($br-card, 16);
    overflow: hidden;
}

.card {
    &__content {
        padding: 0 em(24, 16) em(24, 16) em(24, 16);
        font-family: $font-family-Montserrat;

        h2 {
            font-size: var(--H2); //12px
            letter-spacing: em(5, 12);
            line-height: em(15, 12);
            color: $clr-txt-H2;
            font-weight: 500;

            padding-block: em(24, 12) em(12, 12);
        }
        h1 {
            font-family: $font-family-Fraunces;
            font-size: var(--H1); //32px
            line-height: em(32, 32);
            color: $clr-txt-H1;
            font-weight: 700;
        }
        p:not(.price p, .btn p) {
            font-size: var(--par); //14px
            line-height: em(23, 14);
            color: $clr-txt-p;
            font-weight: 500;

            margin-block: em(16, 14) em(24, 14);
        }

        .price {
            display: flex;
            align-items: center;
            margin-bottom: em(20, 16);

            .price--new {
                font-family: $font-family-Fraunces;
                font-size: var(--price-new); //32px
                line-height: em(32, 32);
                color: $clr-txt-price--new;
                font-weight: 700;
                margin-right: em(19, 32);
            }
            .price--old {
                font-size: var(--price-old); //13px
                color: $clr-txt-price--old;
                line-height: em(23, 13);
                font-weight: 500;
                text-decoration: line-through;
            }
        }

        .btn {
            background-color: $clr-bg-card-btn;
            border-radius: em($br-card, 16);
            display: flex;
            justify-content: center;
            align-items: center;

            padding-block: em(15, 16);
            cursor: pointer;

            transition: ease-in-out 0.2s background-color;
            &:hover,
            &:focus {
                background-color: $clr-bg-card-btn-hover;
                img {
                    background-color: $clr-bg-card-btn-hover;
                }
            }

            img {
                transition: ease-in-out 0.2s background-color;
                max-width: em(15, 16);
                min-height: em(16, 16);
                background-color: $clr-bg-card-btn;
            }

            p {
                font-size: var(--btn); //14px
                color: $clr-txt-btn;
                line-height: em(17, 14);
                font-weight: 700;
                margin-left: em(11, 14);
            }
        }
    }
}
