@use '../partials/tools' as *;
@use '../partials/assembler/' as *;

// --------------------
/* --- home main --- */
// --------------------

.home {
    font-optical-sizing: auto;
    background-color: $clr-bg-body;
    height: 100svh;
    max-width: em(1440, 16);
    @include flexCenter;
}

.container {
    max-width: em(375, 16);
    background-color: $clr-bg-container;
}
